.register-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.register-container form {
  display: flex;
  max-width: 480px;
}

.register-container form > input {
  width: 100%;
}

.register-container .passwords {
  display: flex;
  justify-content: space-between;
   
}
.register-container .passwords input {
  width: 49%;
}

.register-side {
  text-align: center;
  padding-bottom: 100px;
}

.register-side h1 {
  color: #0d7;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.register-side img {
  height: 200px;
}