
.login-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: max(100vh, 50%);
}

.login-left form input {
 margin-top: 10px;
}

.login-side {
  display: flex;
  align-items: center;
  text-align: center;
  height: max(80vh, 50%);
  justify-content: space-evenly;


  }

.login-side h1 {
  color: #0d7;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.login-side img {
  height: 200px;
}