.senha-side h1{
    color:#00dd77
}



#icon-size{
    height: 150px;
    padding-left: 35px;
    padding-bottom: 8px;
}

imput{
    color: white;
}

.body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}